*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 65px 0 28px 0;
}

.portfolio p {
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    padding-bottom: 11px;
    overflow: hidden;
    
}

.portfolio a {
    text-align: justify;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    width: 57px;
    height: 22px;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    padding: 2px 5px 3px 6px;
    margin-right: 6px;
    text-align: center;
    cursor: pointer;

}
.portfolio a:first-child{
    padding: 2px 7px 3px 7px;

}


.portfolio a:hover {
    color: white;
    border-color: white;
}
.portfolio nav {
padding-bottom: 19px;
}

.container {
    width: 1020px;
    height: 867px;
    margin: 0 auto;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
       
}
   
.wrapper {
    width: 940px;
    margin: 0 auto;
}

.images {
    max-height: 605px;
    display: flex;
    justify-content: space-between;
    align-items: center;         
    flex-wrap: wrap;
    overflow: hidden;
    
}

.images img {        
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}



.container1{
    width: 1020px;
    height: 734px;
    background-color: #f2f2f2;
    margin: 0 auto;
    border-bottom: 6px solid #ffffff;
}


.about h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 68px;
    letter-spacing: -0.004em;
    
}
.about p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    padding-top: 27px;
    overflow: hidden;
}

.photos img {
    width: 300px;
    height: 300px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    max-width: 100%;
}

.sectionfirst, .sectionsecond, .sectionthird {
    max-width: 32%;
    margin-top: 45px;
   
}


.photos h3{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 13px;
    letter-spacing: -0.008em;
    overflow: hidden;
}
.photos p{
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    letter-spacing: -0.05px;
    text-align: justify;
}


.icons a{    
    cursor: pointer;   
}

.icons {
    display: flex;
}

.social{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #666d89;
    margin: 2px 8px 2px 0;
    color: #666d89;
    text-align: center;
    padding-top: 8px;
    display: flex;
    
}

.social:hover {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
}


.facebook {
    background: url(assets/facebook.png) no-repeat center;
}
 .google {
    background: url(assets/google+.png) no-repeat center;
}
.twitter {
    background: url(assets/twitter.png) no-repeat center;
}
.linkedin {
    background: url(assets/linkedin.png) no-repeat center;
}
 