*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
}

header li{
    list-style: none;
    display: inline-block;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}

header nav a{
    text-decoration: none;
    display:inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;    
    padding: 45px 0 0 0;
    text-align: left;
    letter-spacing: -0.01em;

}

header nav{
    float: right;
    width: 41%;
}
header h1 { 
    font-size: 26px;
    line-height: 7px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;  
    padding: 39px 0;
    letter-spacing: -0.04em;
}

h1 span {    
    color: #f06c64;    
}

header h1, nav {
    display: inline-block;
}

 
h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.menu-link {
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: 0.1s linear;
  }

  
.menuitem:not(:first-child)::before {
    display: inline-block;
    margin-right: 13px;
    margin-bottom: 2px;
    background-color: #494e62;
    border-radius: 50%;
    content: "";
    width: 3px;
    height: 3px;
    margin: 0 12px;
  }

.menu-active {
    color: #f06c64;
}


.menu-link:hover {
    color: #f06c64;
}  

.anchor{
    position: relative;
    top:-95px;
    height: 0px;
    visibility: hidden;
}

.ourservices h2 {
    letter-spacing: -0.005em;
}


.container{
    width: 1020px;
    margin: 0 auto;
}
.container940 {
    width: 940px;
    margin: 0 auto;
}
.wrapper{
    background-color:#2d303a;
    height: 93px;
    border-bottom: 6px solid #323746;

}

.redbackground {
    width: 1020px;
    height: 600px;
    background-color: #f06c64;
    background-repeat: no-repeat;
    background-size:cover; 
    background-position:center; 
    background-position: 100% 100%;
    border-bottom: 6px solid #ea676b;
    position: relative;
}


.slider {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;   
        
}

.iphone {
    position: absolute;
    z-index: 0;
}

.iphoneVert{
    position: absolute;
    top: 26px;
    left: 56px;   
}

.iphoneHor{
    position: absolute;
    top: 87px;
    left: 213px;    
}

.black-display {
    position: absolute;
    top: 86px;
    left: 68px;
    border: 3px solid #c8c8c8;
    border-radius: 4px;
    background-color: #000;
    width: 195px;
    height: 341px;
}


.iphoneVert .display-show {
    background-image: url(./assets/displayVert.png);
}

.iphoneHor .display-show {
    background-image: url(./assets/displayHor.png);
}

.iphoneHor .black-display {
    left: 270px;
    top: 98px;
    height: 195px;
    width: 339px;
}

.arrowright{
    position: absolute;
    top: 282px;
    left: 967px;
    cursor: pointer;
}

.arrowleft{
    position: absolute;
    top: 282px;
    left: 41px;
    cursor: pointer;
}

.ourservices{
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify ;
    padding-bottom: 20px;
}
.services {
    width: 1020px;
    background-color: #f2f2f2;
    padding-top: 68px;
    border-bottom: 6px solid white;
    
}

.description {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    padding: 27px 0;
}
.design, .ideas, .love {
    width: 219px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 19px;
    letter-spacing: 0.01em;
    word-break: break-all;

    
}

.texthidden{
    height: 65px;
    overflow: hidden;
}

.layot, .support, .star {
    width: 219px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 29px;
   letter-spacing: 0.01em;
   word-break: break-all;
    
}

.design h3, .ideas h3, .love h3, .layot h3, .support h3, .star h3{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-bottom: 10px;
    letter-spacing: -0.008em;
}

.containerflex {
    
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    max-width: 100%;
}

.designicon, .ideasicon, .loveicon {
    width: 59px;
    height: 59px;
    padding-top: 21px;
   
}

.layoticon, .supporticon, .staricon{
    width: 59px;
    height: 59px;
    padding-top: 31px;
   
}

.services_blocks {
    padding: 74px 0 59px 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Part 2*/



.portfolio h2 {
   padding: 68px 0 27px 0;

}

.portfolio p {
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    padding-bottom: 11px;
    overflow: hidden;
    
}

.tag {
    text-align: justify;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    width: 57px;
    height: 22px;
    border-radius: 5px;
    background-color: #2d303a;
    border: 1px solid #666d89;
    padding: 2px 5px 3px 6px;
    margin-right: 6px;
    text-align: center;
    cursor: pointer;

}

.tag:hover {
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.tag-active {
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.portfolio nav {
    padding-bottom: 19px;
}

.portfolio-item {
    border: 5px solid transparent;
    cursor: pointer;
}
  
.portfolio-item-active {
    border-color: #F06C64;
}
 
  
.container_gray {
    width: 1020px;
    height: 869px;
    margin: 0 auto;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
       
}
   
.container940 {
    width: 940px;
    margin: 0 auto;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;         
    flex-wrap: wrap;   
    
}

.images-layot {
    height: 605px;
    overflow: hidden;
}

.images img {        
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}



.container_lightgray{
    width: 1020px;
    height: 734px;
    background-color: #f2f2f2;
    margin: 0 auto;
    border-bottom: 6px solid #ffffff;
}


.about h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 68px;
    letter-spacing: -0.004em;
    
}
.about p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    padding-top: 27px;
    overflow: hidden;
    text-align: justify;

}
.abouttitle {
    max-width: 280px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.photos img {
    width: 300px;
    height: 300px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    max-width: 100%;
}

.sectionfirst, .sectionsecond, .sectionthird {
    max-width: 32%;
    margin-top: 45px;
   
}


.photos h3{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 13px;
    letter-spacing: -0.008em;
    overflow: hidden;
}
.photos p{
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    letter-spacing: -0.05px;
    text-align: justify;
}


.social_icons a{    
    cursor: pointer;   
}

.social_icons {
    display: flex;
}

.social{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #666d89;
    margin: 2px 8px 2px 0;
    color: #666d89;
    text-align: center;
    padding-top: 8px;
    display: flex;
    
}

.social:hover {
    background-color: #f06c64;
    cursor: pointer;
    border: 1px solid #f06c64;
}


.facebook {
    background: url(assets/facebook.png) no-repeat center;
}
 .google {
    background: url(assets/google+.png) no-repeat center;
}
.twitter {
    background: url(assets/twitter.png) no-repeat center;
}
.linkedin {
    background: url(assets/linkedin.png) no-repeat center;
}
 

/*Part 3*/


.get_a_quote {
    width: 1020px;
    height: 654px;
    background-color: #f06c64;
    margin: 0 auto;
    border-bottom: 6px solid #ea676b;

}
.get_a_quote h2 {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 68px;
    letter-spacing: -0.004em;
}
.container940 {
    width: 940px;
    margin: 0 auto;
}

.get_a_quote p {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    padding-top: 27px;
    text-align: justify;
    overflow: hidden;
}

form {
    width: 68%;
    float: left;
  
}
  
#name, #email, #subject {
    width: 619px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    border: 1px solid #d6564f;
    
  }

#name {
    margin-top: 44px;
}

#email, #subject, #project {
    margin-top: 16px;
}

#project {
    width: 619px;
    height: 202px;
    border-radius: 5px;
    background-color: #d6564f;
    border: 1px solid #d6564f;
    resize: none;
 
}

#register {
    margin-top: 10px;
    width: 100px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    border: 1px solid #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #fff;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    
    
}
#register:hover {
    background: white;
    color: #2d303a;
  }

::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-left: 14px;
} 
#project::placeholder {
    padding-top: 6px;
    letter-spacing: -0.001em;
}


.contact {
    width: 31.8%;
    float: right;
}


.contact h3{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: 44px;
    letter-spacing: -0.01em;

}

.contact p {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.015em;
    padding-top: 10px;
}


.adress{
    margin-top: 20px;
    padding: 0;
}
.adress li{
    list-style-type: none;
    display: flex;
}
.adress a{
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
}



.location, .mail, .phone{
    display: flex;
    width: 100%;
    max-width: 100%;
}

.location{
    background-image: url(assets/location.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    margin-left: -5px;

}
.phone {
    background-image: url(assets/phone+.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    margin-left: -5px;
    margin-top: -1px;
}

.mail{
    background-image: url(assets/mail.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-right: 32px;
    margin-left: -5px;
    margin-top: 1px;
}

.mail a {
    margin-top: -2px;
}


.footer {
    display: flex;
    justify-content: space-between;
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
    margin: 0 auto;
    
}

.footer p {
    color: #666d89;
    font-size: 12px;
    line-height: 20px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    margin: 28px 0 0 22px;
    letter-spacing: -0.012em;
}
.icons a{    
    cursor: pointer;   
}

.icons {
    display: flex;
    margin: 20px 32px 0 0;
}

